<h1>{{ title }}</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <agm-map class="mapa" [latitude]="UbicacionCentral.latitud" [longitude]="UbicacionCentral.longitud" [zoom]="12" (mapClick)="mapClicked($event)">
                <agm-marker *ngFor="let evento of eventos" [latitude]="evento.latitud" [longitude]="evento.longitud">
                    <agm-info-window>
                        <p>La mejor party de la ciudad es : {{evento?.latitud}}</p>
                        <p>La mejor party de la ciudad es : {{evento?.longitud}}</p>
                    </agm-info-window>
                </agm-marker>
            </agm-map>
        </div>
        <div class="col-sm-6">
            <form action="" class="was-validated">
                <div class="form-group">
                    <label for="nombre">Nombre del evento:</label>
                    <input type="text" class="form-control" [(ngModel)]="evento.nombre" name="nombre" ngModel required>
                    <div class="valid-feedback">Valido.</div>
                    <div class="invalid-feedback">Este campo es obligatorio.</div>
                </div>
            </form>
        </div>
    </div>
    
</div>