<div class="bodyInvers">
    <h2 class="tituloInvers">Tu tambien pudes ser parte de nuestra comunidade de amantes del campo. Invierte ahora.</h2>
    <div class="containerInvers">
        <div class="galleryInvers" *ngFor="let inver of invers.slice(0, invers.length)">
            <div class="imgInvers"><img src="../../../../assets/Inversionistas/{{inver.rutaimg}}" width="100px" height="100px" /></div>
            <div class="nomInvers">{{ inver.nombre}} </div>
            <div class="descInvers">{{ inver.descripcion}}</div>
            <div class="contactInvers">Contacto: {{ inver.correo}}</div>
        </div>
    </div>
</div>

