<div class="bodyInvers">
  <h2 class="tituloInvers">Tu tambien pudes ser parte de nuestra comunidad de amantes del campo. invierte ahora!.</h2>
  <div class="containerInvers">
    <div class="galleryInvers" *ngFor="let inver of invers.slice(0, invers.length)">
      <div *ngIf="inver.id == 1; else invers">
        <div class="enc">
          <h5 class="titForm">Formulario de Contacto</h5>
        </div>
        <div class="divFormInvers">
          <form action="/action_page.php">
            <label class="lb" for="fname">Correo</label>
            <input type="text" id="fname" name="firstname" placeholder="Su correo electronico..">

            <label class="lb" for="lname">Nombre</label>
            <input type="text" id="lname" name="lastname" placeholder="Su nombre completo..">

            <label class="lb" for="lname">Pais</label>
            <input type="text" id="lname" name="lastname" placeholder="Pais de operación..">

            <label class="lb" for="subject">Comentario</label>
            <textarea class="txa" id="subject" name="subject" placeholder="Deje sus comentarios.."
              style="height:180px"></textarea>


            <input type="submit" value="Enviar">
          </form>
        </div>

      </div>
      <ng-template #invers>
        <div class="imgInvers"><img src="../../../../assets/Inversionistas/{{inver.rutaimg}}" width="100px"
            height="100px" /></div>
        <div class="nomInvers">{{ inver.nombre}} </div>
        <div class="descInvers">{{ inver.descripcion}}</div>
        <div class="contactInvers">Contacto: {{ inver.correo}}</div>
      </ng-template>
    </div>
  </div>
</div>