.bodyOrg {
  background-image: url('../../../assets/Organizaciones/emprendedor-agricola.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 0px;
}

.tituloOrg {
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  color: #075109;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
}

.vidOrg {
  
  width: 85%;
  height: 400px;
  margin-left: 7.5%;
  margin-right: 7.5%;

}

.containerOrg {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 20px;
  padding: 20px;
}

.galleryOrg {
  background-color: rgba(55, 65, 51, 0.7);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  border: rgba(55, 65, 51, 0.7) 2px solid;
  grid-auto-flow: dense;
}

.galleryOrg:hover {
  transform: scale(1.04);
  transition: all .3s ease-in-out;
  background-color: rgba(33, 36, 32, 0.9);
}

.imgOrg {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 100px;
}

.nomOrg {
  text-shadow: #075109; 
  color: #07C509;
  font-size: large;
  font-weight: bold;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.descOrg {
  color: rgb(255, 255, 255);
  margin-top: 4%;
  font-size: medium;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 16px;
}

.telOrg {
  color: rgb(255, 255, 255);
  margin-top: 4%;
  font-size: medium;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 10%;
}

@media screen and (max-width:768px){
  .tituloOrg{
    text-align: center;
    margin-bottom: 15px;
    font-size:25px
  }
 }