.nav-item:active{
    color:#ffffff;
}

.nav-link:hover{
    background:#ffffff;
}

.nav-link{
    color:#333738;
    text-shadow: 0px 0px #343738;
}

.nav-link:active{
    color:#55b02f;
    text-shadow: 1px 1px 3px #55b02f;
    font-weight: bold;
}
