<div class="contenedorMiPedido">
    <!--<div class="circle" id="circle">{{getNumeroItems()}}</div>-->
    <button class="miPedido" id="miPedido" (click)="modalService.open(modalCarrito)">ver mi pedido</button>
</div>

<ng-template #modalCarrito let-modal>
    <div class="modal-header">
        <h3>Mi Pedido</h3>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span  aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <table class="table table-hover">
                <tbody>
                    <tr *ngFor = "let pedido of pedidos" class="text-center">
                        <td>{{pedido.cantidad}}X</td>
                        <td><strong>{{pedido.nomproducto}}</strong></td>         
                        <td>${{pedido.precio}}</td>
                    </tr>
                </tbody>
            </table>
            <div style="text-align: center;"><strong>Total ${{calcularvalortotal()}}</strong>  </div>
        </div>
    </div>
    <div class="modal-footer">
        <!--<button type="button" class="btn btn-danger" (click)="openModalTelDir(modalDirTel)">continuar</button>-->
        <button type="button" class="btn btn-danger" (click)="borrarLista(modal.close())">Borrar lista</button>
    </div>
</ng-template>
