<div class="content" role="main">
  <div class = "container" style="margin-top: 10px;">
    <button (click) = "listar()" class="btn btn-info">PRODUCTOS</button>
    <button class="btn btn-danger" style="margin-left: 20px;">ORGANIZACIONES</button>
    <button class="btn btn-danger" style="margin-left: 20px;">OFERTAS</button>
    <button class="btn btn-danger" style="margin-left: 20px;">INVERSIONISTAS</button>
    <button class="btn btn-danger" style="margin-left: 20px;">EVENTOS</button>
    <button class="btn btn-danger" style="margin-left: 20px;">LOGIN</button>
  </div>
</div>