<div class="container" style="margin-top: 10px;">
    <div class="card">
        <div class="card header">
            <h3>PRODUCTOS</h3>
        </div>
        <div class="card-body">
            <button (click)="agregarProducto()" class="btn btn-warning">Agregar Producto</button>
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>Nombre</th>
                        <th>Ruta imagen</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let producto of productos" class="text-center">
                        <td>{{producto.nomProducto}}</td>
                        <td>{{producto.rutaImagen}}</td>
                        <td>{{producto.cantidad}}</td>
                        <td>{{producto.precio}}</td>
                        <td>
                            <button (click)="actualizarProducto(producto)" class="btn btn-warning" style="margin-left: 5px;">Editar</button>
                            <button (click)="eliminarProducto(producto)" class="btn btn-danger" style="margin-left: 5px;">Eliminar</button>
                            <button class="btn btn-info" style="margin-left: 5px;">Add Carrito</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
