<div class="fakeimg">
    <img src="../../../assets/banner-06.png" class="fakeimg">
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-sm-10">
            <!-- <div class="fakeimg">
                <img src="../../../assets/banner-06.png" class="fakeimg">
            </div> -->

            <div class="galleryHome" *ngFor="let producto of productos"
                style="margin-top: 20px;">
                <div *ngIf="producto.cantidad > 0; else productos">
                    <div class="imgProd"><img src="../../../../assets/Productos/{{producto.rutaImagen}}" width="200px"
                            height="150px" /></div>
                    <div class="desc ">{{ producto.nomProducto}} </div>
                    <div class="desc text-success">${{ producto.precio}}</div>
                    <div class="quantity " style="display: inline">
                        <div style="float:left; width: 25%; margin-left: 6px;" display="inline-block">
                            <button class="disminuir" (click)="disminuirInput(inputCantidad)">-</button>
                            <input #inputCantidad type="number" class="cantidad" value="1" min="1" max="20"
                                (change)="actualizarPrecio(inputCantidad)">
                            <button class="aumentar" (click)="aumentarInput(inputCantidad)">+</button>
                        </div>
                        <div class="btncar" style="float:right; width:68%;  margin-right: 6px;" display="inline-block">
                            <button (click)="agregarItem(producto,inputCantidad)" class="btn btn-success "
                                style="margin-left: 30px;">Add Carrito</button>
                        </div>
                    </div>
                </div>
                <ng-template #productos style="margin-bottom:33px">
                    <img class="gris" src="../../../../assets/Productos/{{producto.rutaImagen}}" alt="Prod2" width="600"
                        height="400">
                    <div class="desc text-muted">{{ producto.nomProducto}} </div>
                    <div class="desc text-muted">${{ producto.precio}}</div>
                    <div class="quantity " style="display: inline">
                        <div style="float:center; width:100%;" display="inline-block">
                            <button class="btn btn-secondary disabled" style="margin-left: 51px;">Sin
                                unidades</button>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>


<!--<ng-template #modalAgregarProducto let-modal>
    <div class="modal-header">
        <h3>Producto</h3>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span  aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <h3>{{productoAux.nomProducto}}</h3>
                {{productoAux.precio}}
        </div>
    </div>
    <div class="modal-footer">
        <div class="quantity">
            <button class="disminuir" (click)="disminuirInput(inputCantidad)">-</button>
            <input #inputCantidad type="number" class="cantidad" value="1" min="1" max="20" (change)="actualizarPrecio(inputCantidad)">     
            <button class="aumentar" (click)="aumentarInput(inputCantidad)">+</button>
        </div>
        <button type="button" class="btn btn-danger" (click)="agregarItem()">Agregar a mi pedido ({{productoAux.precio * cantidad}})</button>
    </div>
</ng-template>-->