<div *ngIf="categoria == 'general'">
    <div class="fakeimg">
        <img src="../../../assets/banner-06.png" class="fakeimg">
    </div>
</div>
<div *ngIf="categoria == 'Frutas y verduras'">
    <div class="fakeimg">
        <img src="../../../assets/banner-07.png" class="fakeimg">
    </div>
</div>
<div *ngIf="categoria == 'Pollo, Carne y Pescados'">
    <div class="fakeimg">
        <img src="../../../assets/banner-08.png" class="fakeimg">
    </div>
</div>
<div *ngIf="categoria == 'Huevos y derivados lacteos'">
    <div class="fakeimg">
        <img src="../../../assets/banner-09.jpg" class="fakeimg">
    </div>
</div>
<div *ngIf="categoria == 'Despensa'">
    <div class="fakeimg">
        <img src="../../../assets/banner-06.png" class="fakeimg">
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <h2 style="margin-top: 30px;">Filtros</h2>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item ">
                    <a class="nav-link" (click)="tipo(productos,'general')">De nuestra tierra</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" (click)="tipo(productos,'Frutas y verduras')">Frutas y verturas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="tipo(productos,'Pollo, Carne y Pescados')">Pollo, Carne y Pescados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="tipo(productos,'Huevos y derivados lacteos')">Huevos y derivados lacteos </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="tipo(productos,'Despensa')">Despensa </a>
                </li>
            </ul>
        </div>
            <div class="col-sm-10" *ngIf="categoria == 'general'; else filtro">
                <div class="galleryHome" *ngFor="let producto of productos"
                    style="margin-top: 20px;">
                    <div *ngIf="producto.cantidad > 0; else productos">
                        <div class="imgProd"><img src="../../../../assets/Productos/{{producto.rutaImagen}}" width="200px"
                                height="150px" /></div>
                        <div class="desc ">{{ producto.nomProducto}} </div>
                        <div class="desc text-success">${{ producto.precio}}</div>
                        <div class="quantity " style="display: inline">
                            <div style="float:left; width: 25%; margin-left: 6px;" display="inline-block">
                                <button class="disminuir" (click)="disminuirInput(inputCantidad)">-</button>
                                <input #inputCantidad type="number" class="cantidad" value="1" min="1" max="20"
                                    (change)="actualizarPrecio(inputCantidad)">
                                <button class="aumentar" (click)="aumentarInput(inputCantidad)">+</button>
                            </div>
                            <div class="btncar" style="float:right; width:68%;  margin-right: 6px;" display="inline-block">
                                <button (click)="agregarItem(producto,inputCantidad)" class="btn btn-success "
                                    style="margin-left: 30px;">Add Carrito</button>
                            </div>
                        </div>
                    </div>
                    <ng-template #productos style="margin-bottom:33px">
                        <img class="gris" src="../../../../assets/Productos/{{producto.rutaImagen}}" alt="Prod2" width="600"
                            height="400">
                        <div class="desc text-muted">{{ producto.nomProducto}} </div>
                        <div class="desc text-muted">${{ producto.precio}}</div>
                        <div class="quantity " style="display: inline">
                            <div style="float:center; width:100%;" display="inline-block">
                                <button class="btn btn-secondary disabled" style="margin-left: 51px;">Sin
                                    unidades</button>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        <ng-template #filtro style="margin-bottom:33px">
            <div class="col-sm-10">
                <div class="galleryHome" *ngFor="let producto of productosfiltrado"
                    style="margin-top: 20px;">
                    <div *ngIf="producto.cantidad > 0; else productos">
                        <div class="imgProd"><img src="../../../../assets/Productos/{{producto.rutaImagen}}" width="200px"
                                height="150px" /></div>
                        <div class="desc ">{{ producto.nomProducto}} </div>
                        <div class="desc text-success">${{ producto.precio}}</div>
                        <div class="quantity " style="display: inline">
                            <div style="float:left; width: 25%; margin-left: 6px;" display="inline-block">
                                <button class="disminuir" (click)="disminuirInput(inputCantidad)">-</button>
                                <input #inputCantidad type="number" class="cantidad" value="1" min="1" max="20"
                                    (change)="actualizarPrecio(inputCantidad)">
                                <button class="aumentar" (click)="aumentarInput(inputCantidad)">+</button>
                            </div>
                            <div class="btncar" style="float:right; width:68%;  margin-right: 6px;" display="inline-block">
                                <button (click)="agregarItem(producto,inputCantidad)" class="btn btn-success "
                                    style="margin-left: 30px;">Add Carrito</button>
                            </div>
                        </div>
                    </div>
                    <ng-template #productos style="margin-bottom:33px">
                        <img class="gris" src="../../../../assets/Productos/{{producto.rutaImagen}}" alt="Prod2" width="600"
                            height="400">
                        <div class="desc text-muted">{{ producto.nomProducto}} </div>
                        <div class="desc text-muted">${{ producto.precio}}</div>
                        <div class="quantity " style="display: inline">
                            <div style="float:center; width:100%;" display="inline-block">
                                <button class="btn btn-secondary disabled" style="margin-left: 51px;">Sin
                                    unidades</button>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </ng-template>
    </div>
</div>