<div class="container col-md-6" style="margin-top: 10px;">
    <div class="card">
        <div class="card header">
            <h3>Actualizar Inversionista</h3>
        </div>
        <div class="card-body">
            <form action="" class="was-validated">
                <div class="form-group">
                    <label for="nombre">Nombre del Inversionista:</label>
                    <input type="text" class="form-control" [(ngModel)]="invers.nombre" name="nombre" ngModel required>
                    <div class="valid-feedback">Valido.</div>
                    <div class="invalid-feedback">Este campo es obligatorio.</div>
                    <div class="alert">{{mensajeError("nomInvers")}}</div>
                </div>
                <div class="form-group">
                    <label for="rutaimg">Subir Imagen:</label>
                    <input type="text" class="form-control" [(ngModel)]="invers.rutaimg" name="rutaimg" ngModel required>
                    <div class="valid-feedback">Valido.</div>
                    <div class="invalid-feedback">Este campo es obligatorio.</div>
                    <div class="alert">{{mensajeError("rutaimg")}}</div>
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción del Inversionista:</label>
                    <input type="text" class="form-control" [(ngModel)]="invers.descripcion" name="descripcion" ngModel required>
                    <div class="valid-feedback">Valido.</div>
                    <div class="invalid-feedback">Este campo es obligatorio.</div>
                    <div class="alert">{{mensajeError("descripcion")}}</div>
                </div>
                <div class="form-group">
                    <label for="correo">Correo del Inversionista:</label>
                    <input type="text" class="form-control" [(ngModel)]="invers.correo" name="correo" ngModel required>
                    <div class="valid-feedback">Valido.</div>
                    <div class="invalid-feedback">Este campo es obligatorio.</div>
                    <div class="alert">{{mensajeError("correo")}}</div>
                </div>

                <button (click)="actualizarInvers(invers)" class="btn btn-danger">Actualizar</button>
                <button (click)="atras()" class="btn btn-danger" style="margin-left: 10px;">Cancelar</button>
            </form>
        </div>
    </div>
</div>