.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-80%, -80%);
}
  
.eye2{
    position:absolute;
    height:50px;
    width:50px;
    top: 30%;
    left : 90%;
    z-index: 1;
  }

  .miPedido{
    margin-top: 10px;
    border-radius: 20px;
    height: 35px;
    width: 120px;
    background: #55b02f;
    color: white;
}