<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active">asdfasdfasdf</li>
    <li data-target="#demo" data-slide-to="1">asdfasdf</li>
    <li data-target="#demo" data-slide-to="2">asdfasdfasd</li>
    <li data-target="#demo" data-slide-to="3">asdfasdfasd</li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/Ofertas/frutas2.jpg" alt="Ofertas frutas">
      <div class="carousel-caption">
        <p>FRUTAS Y VERDURAS</p>
        <p>¡Ofertas hasta el 10% !</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/Ofertas/offcarnes.jpg" alt="Chicago">
      <div class="carousel-caption">
        <P>PESCADOS Y MARISCOS</P>
        <p>¡Ofertas hasta el 15% !</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/Ofertas/offgranos.jpg" alt="Chicago">
      <div class="carousel-caption">
        <P>GRANOS Y LEGUMBRES</P>
        <p>¡Ofertas hasta el 10% !</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/Ofertas/papa2.jpg" alt="Ofertas Tuberculos">
      <div class="carousel-caption">
        <p>TUBÉRCULOS</p>
        <p>¡Ofertas hasta el 7% !</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<div class="containerOfer" style="margin-top:30px; margin-bottom:30px">


    <div class="galleryOfer" *ngFor="let oferta of ofertas" style="margin-top: 20px;">
      <div *ngIf="oferta.cantidad > 0; else ofertas">
        <div class="circle" id="circle">{{oferta.descuento}} % OFF</div>
        <div class="imgOfer"><img src="../../../../assets/Ofertas/{{oferta.rutaImg}}" width="200px" height="150px" /></div>
        <div class="desc ">{{oferta.nomOferta}} </div>
        <div class="desc text-secondary" style="text-decoration:line-through">${{oferta.precio}}</div>
        <!--<div class="desc text-primary">Cantidad: {{oferta.cantidad}}</div>-->
        <div class="desc text-success">${{oferta.precio-((oferta.precio*oferta.descuento)/100)}}</div>
        <div class="quantity " style="display: inline">
          <div style="float:left; width: 25%; margin-left: 6px;" display="inline-block">
            <button class="disminuir" (click)="disminuirInput(inputCantidad)">-</button>
            <input #inputCantidad type="number" class="cantidad" value="1" min="1" max="20"
              (change)="actualizarPrecio(inputCantidad)">
            <button class="aumentar" (click)="aumentarInput(inputCantidad)">+</button>
          </div>


          <div class="btncar" style="float:right; width:68%;  margin-right: 6px;" display="inline-block">
            <button (click) ="agregarItem(oferta,inputCantidad)" class="btn btn-success " style="margin-left: 30px;">Add Carrito</button>               
        </div>

         <!--<div class="btncar" style="float:right; width:68%;  margin-right: 6px;" display="inline-block">
            <button (click)="agregarItem(oferta,inputCantidad)" class="btn btn-success ">Add
              Carrito</button>
          </div> --> 
        </div>
      </div>
      <ng-template #ofertas style="margin-bottom:33px">
        <img class="gris" src="../../../../assets/Ofertas/{{oferta.rutaImg}}" alt="Ofertas" width="600" height="400">
        <div class="desc ">{{oferta.nomOferta}} </div>
        <div class="desc text-success">${{oferta.precio}}</div>
        <!--<div class="desc text-primary">Cantidad: {{oferta.cantidad}}</div>
                  <div class="desc text-primary">Descuento: {{oferta.descuento}}</div>-->
        <div class="quantity " style="display: inline">
          <div style="float:center; width:100%;" display="inline-block">
            <button class="btn btn-secondary disabled" style="margin-left: 51px;">Sin unidades</button>
          </div>
        </div>
      </ng-template>
    </div>
  
</div>